html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

a {
  display: inline-block;
  color: #b64c6e;
  text-decoration: none;
  width: 100%;
  border-bottom: 2px solid #d89fb0;
}
