html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

a {
  display: inline-block;
  color: #d89fb0;
  text-decoration: none;
  width: 100%;
  border-bottom: 2px solid #d89fb0;
}

a:hover {
  color: #b64c6e;
}

main {
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.btn {
  background-color: #d89fb0;
  border-color: #d89fb0;
}

.btn-ghost {
  background-color: transparent;
}

.btn:hover {
  color: #860927;
  background-color: #d89fb0;
  border-color: #860927;
}

footer p {
  color: #e2e2e2;
}
